/*Whole page*/
.App {
  text-align: center;
}

#root div {
  padding: 0.3rem;
}

.dark {
  background-color: #282c34;
  color: #fff;
}

.dark p{
  color: rgb(184, 221, 213);
}

.light {
  background-color: #fafafa;
  color: #282c34;
}

.light p {
  color: #4d4b49;
}

/*Logo*/
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*Header*/
.App-header {
  min-height: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.dark .App-header{
  background-color: #282c34;
  color: white;
}

.light .App-header {
  background-color: #fafafa;
  color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.dark ul {
  background-color: #282c34;
}

.light ul {
  background-color: #fafafa;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 1rem 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.dark li a {
  color: white;
}

.light li a {
  color: #282c34;
}

/* Change the link color to #111 (black) on hover */
.dark li a:hover {
  background-color: #111;
}

.light li a:hover {
  background-color: #fce6b6;
}

/*Banner en dessous du navbar*/
.promo-section {
  line-height: 20px;
  font-weight: bold;
}

/*Block de code pour faire les exemples*/
.code {
  text-align: left;
}

.dark .code {
  background-color: #282c34;
  color: rgb(184, 221, 213);
  border: solid rgb(50, 105, 112) 1px;
}

.light .code {
  background-color: #fafafa;
  color: #b65e5e;
  border: solid #b65e5e 1px;
}

/*Button*/
button {
  background-color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
}

button:hover {
  background-color: #fff;
  transform: scale(1.02);
}

.dark button:hover{
  color: rgb(184, 221, 213);
}

.light button:hover {
  color: #ebb0b0;
}

/*Name Update*/
form {
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  gap: 0.6rem;
  max-width: 10rem;
  margin: 0 auto; /* Centre le formulaire horizontalement */
}

/*Footer*/
.copyright p {
  border-top: 1px solid;
  padding: 1rem;
}
.dark .copyright p {
  color: #fff;
}
.light .copyright p {
  color:#4d4b49;
}

/*Name*/
.name {
  text-transform: capitalize;
}

.dark .name {
  color: rgb(184, 221, 213);
}

.light .name {
  color: #ebb0b0;
}

/*Clicker Cookie Game*/
#cookie {
  width: 25%;
  animation: rotate 20s linear infinite;
  transform-origin: center;
  transition: transform 1s ease;
}

#cookie:hover {
  animation: none;
  transform: scale(1.1);
}

#disabled-cookie {
  width: 25%;
  filter: grayscale(100%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Moo Deng*/
#moodeng div{
  display: block;
  margin: 0 auto;
  height: 50vh !important;
}